[submodule "lib/0g-docs"]
	path = lib/0g-docs
	url = https://github.com/0gfoundation/0g-doc
[submodule "lib/mastra"]
	path = lib/mastra
	url = https://github.com/mastra-ai/mastra
[submodule "lib/0g-storage-node"]
	path = lib/0g-storage-node
	url = https://github.com/0gfoundation/0g-storage-node
[submodule "lib/0g-storage-client"]
	path = lib/0g-storage-client
	url = https://github.com/0gfoundation/0g-storage-client
[submodule "lib/0g-serving-broker"]
	path = lib/0g-serving-broker
	url = https://github.com/0gfoundation/0g-serving-broker
[submodule "lib/0g-serving-user-broker"]
	path = lib/0g-serving-user-broker
	url = https://github.com/0gfoundation/0g-serving-user-broker
